.profileSection {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.copyrightContainer {
  font-family: "roboto";
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.6rem;
  padding: 2.2rem 0 11.6rem;
  background-color: #070909;
  color: #f8f8fc;
  text-align: center;
}

.buttonContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 1.6rem 2.4rem;
  background-color: #090606;
}
