.errorSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 60rem;
  background-color: #060203;
  color: #fff;
}

.errorSection h2 {
  text-align: center;
}

.errorSection article {
  display: flex;
  gap: 1rem;
}

.errorSection article button {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  border-radius: 1rem;
}

.errorSection article .retry {
  background-color: #717171;
}

.errorSection article .back {
  background-color: #4232d5;
}
