html {
  width: 100dvw;
  height: 100dvh;
  font-size: 62.5%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

#app {
  width: 100%;
  max-width: 60rem;
  height: 100%;

  overflow: scroll;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

#app::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
